

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
		G1 Z10 F800
    {% endif %}
	
	{% if printer.toolhead.position.z < 10 %}
        G1 Z10 F800
    {% endif %}
	
    {% if printer.extruder.temperature <= 190 %}
        M104 S200
        M109 S200
    {% endif %}
	
    G92 E0.0
    G91
    G1 E2 F80
    G1 E-45 F1000
    G1 E-15 F700
    G1 E-20 F700
    G92 E0.0	


[gcode_macro LOAD_FILAMENT]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
		G1 Z10 F800
    {% endif %}
	
	{% if printer.toolhead.position.z < 10 %}
        G1 Z10 F800
    {% endif %}
	
    {% if printer.extruder.temperature <= 190 %}
        M104 S210
        M109 S210
    {% endif %}
	
    G92 E0.0
    G91
    G1 E40 F300
    G1 E30 F300
    G1 E25 F90
    G92 E0.0

#This replicates Prusa's calibrate Z funtionality.
[gcode_macro ALIGN_Z]
gcode:
    G28
    G1 X125 Y105
    G1 Z270 F1000 #Update with Z height.
    FORCE_MOVE STEPPER=stepper_z Distance=50 Velocity=5
    G28 Z

[gcode_macro NOZZLE_OFFSET_CALIBRATION]
gcode:
    SDCARD_PRINT_FILE FILENAME="NOZZLE_OFFSET_CALIBRATION.gcode"


[gcode_macro SAVE_CALIBRATION]
gcode:
	Z_OFFSET_APPLY_PROBE
    SAVE_CONFIG


[gcode_shell_command Copy_SD]
command: python3 /home/pi/sdcopy.py
timeout: 30.
verbose: True
[gcode_macro Copy_SD]
gcode:
    RUN_SHELL_COMMAND CMD=Copy_SD

[gcode_shell_command Eject_SD]
command: sh /home/pi/sdeject.sh
timeout: 2.
verbose: True
[gcode_macro Eject_SD]
gcode:
    RUN_SHELL_COMMAND CMD=Eject_SD


[gcode_macro M600]
gcode:
    PAUSE
    UNLOAD_FILAMENT


[gcode_macro PRINT_TIMEOUT]
gcode:
  {% if printer.pause_resume.is_paused %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  M117 Paused
  {% else %}
  TURN_OFF_HEATERS
  M84
  {% endif %}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  M84
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_minimum.x + 5.0 %}
  {% set y_park = printer.toolhead.axis_minimum.y + 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[respond]
default_type: command

[pause_resume]

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
  M117

[display_status]
